<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="foodpost_form">
        <%= render 'shared/foodpost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>　　タイムライン</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="top_page">
    <div class="center">
      <%= image_tag "Foodol_logo.png" %>
    
      <h2>
        Foodolはマクロ栄養素まで記録できる食事管理アプリです。
      </h2>
    
      <%= link_to "会員登録", signup_path, class: "btn btn-lg btn-success" %>
    </div>
  </div>
<% end %>