<li id="foodpost-<%= foodpost.id %>">
  <div class="foodpost">
      <div class="foodpost-left">
        <span class="user">
            <%= image_tag foodpost.user.avatar.url, size: 35, class: "user_image" %>
            <%= link_to foodpost.user.name, foodpost.user, class: "user_name" %>
        </span>
        <span class="content">
            <%= image_tag foodpost.picture.url if foodpost.picture? %>
            <p class="food_info">
              <%= foodpost.protein * 4 + foodpost.fat * 9 + foodpost.carbohydrate * 4 %>kcal
              （P:<%= foodpost.protein %> F:<%= foodpost.fat %> C:<%= foodpost.carbohydrate %>）
            </p>
        </span>
        <span class="timestamp"><%= time_ago_in_words(foodpost.created_at) %>前</span>
        <% if current_user?(foodpost.user) %>
          （<%= link_to "編集", edit_foodpost_path(foodpost), class: "edit_or_delete_link" %>
          <%= link_to "削除", foodpost, method: :delete, class: "edit_or_delete_link",
                                           data: { confirm: "投稿を削除しますか?" } %>）
        <% end %>
      </div>
      <div class="foodpost-right">
        <span class="foodpost-content">
          <textarea class="foodpost-content-textarea", readonly><%= foodpost.content %></textarea>
        </span>
      </div>
      <div class="clear"></div>
  </div>
</li>