<div class="row">
  <aside class="col-md-4 for-smartphone">
    <% if logged_in? %>
    <section class="user_info">
      <h1>
        <%= image_tag @user.avatar.url, size: 100 %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <% else %>
    <section class="application-introduction">
      <h2>Foodolへようこそ</h2>
      <h3>Foodolでは、</h3>
      <h3>ボディメイクに欠かせない</h3>
      <h3>食事のマクロ管理が可能です。</h3>
      <%= link_to "会員登録", signup_path, class: "btn btn-primary sign-up" %>
      <p>登録済みの方は<%= link_to "こちらからログイン", login_path %></p>
    </section>
    <% end %>
  </aside>
  <div class="col-md-8">
      <h3>　　全投稿一覧</h3>
      <ol class="foodposts">
        <%= render @foodposts %>
      </ol>
      <%= will_paginate %>
  </div>
</div>