<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag current_user.avatar.url, size: 100, class: "user_avatar" %>
        <%= @user.name %>
      </h1>
      <span>投稿数： <%= @user.foodposts.count %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>