<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag @user.avatar.url %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="self_introduction">
      <%= @user.introduction %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.foodposts.any? %>
      <h3><%= @user.name %>さんの投稿一覧(<%= @user.foodposts.count %>)</h3>
      <ol class="foodposts">
        <%= render @foodposts %>
      </ol>
      <%= will_paginate @foodposts %>
    <% end %>
  </div>
</div>